@model DomainLayer.Models.Positions

<h2> Positions</h2>

<table class="table">
	<thead>
		<tr>
			<th>Position Code</th>
			<th>Position Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var Positions in ViewBag.data)
		{
			<tr>
				<td>@Positions.Positionid</td>
				<td>@Positions.PositionName</td>
				<td><a href="">Delete</a></td>
			</tr>
		}
	</tbody>
</table>

<h2>Add Position:</h2>

<form method="post" action="AddPosition" id="employeeform">
    <div class="mb-3">
        <label asp-for="PositionName" class="form-label">Position Name</label>
        <input type="text" class="form-control" asp-for="PositionName">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>

